html {
    font-size: 62.7%
}

.wrapper {
    width: 80%;
    max-width: 1280px;
    height: 100vh;
    margin: 0 auto;
    // padding: 25px 0;
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    text-align: center;
}

