main {
    height: 100vh;
    position: relative;
}

.background-image, .wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

}
.background-image {
    // border: 5px solid blue;
    background: url("../images/sarah-dorweiler-357715-unsplash.jpg");
    background-size: cover;
    background-position: top;
}

.wrapper {
    // border: 1px solid red;
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.headline {
    // border: 1px solid orange;
}

.hero-content {
    // border: 1px solid purple;
}

h1 {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 12rem; 
    animation-duration: 4s;
    animation-iteration-count:infinite;
    animation-timing-function: ease-in-out;
}

p {
    font-family: 'Courgette', cursive;
    font-size: 5rem;
    margin: 50px 0;
}

.active {
    color:rgba(0, 0, 0, 0.5);
}

.lock {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

a {
    color: rgba(0, 0, 0, 0.2);
    transition: .25s linear;
    margin: 5px;
    &:hover {
        color:rgba(0, 0, 0, 0.5);
    }
}

.pulse {
  animation-name: pulse;
}

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.06, 1.06, 1.06);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}
// edited from animate.css


.quote-wrapper {
    text-align: center;
    height: 50vh;
}

button {
    padding: 15px;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
}






.fadeInAnimation {
  animation-name: fadeInAnimation;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 100;
    }
}


// BACKGROUNDS
// .bg0 {
//     background-image: linear-gradient(to top, rgba(255, 255,255,0.3), rgba(255, 255,255,0.3)),url("../images/sarah-dorweiler-357715-unsplash.jpg");
//     background-size: cover;
// }

// .bg1 {
//     background-image: linear-gradient(to top, rgba(255, 255,255,0.1), rgba(255, 255,255,0.7)),
//     url("../images/tristan-taussac-356484-unsplash.jpg");
//     background-size: cover;
//     background-position: center;
    
// }

// .bg2 {
//     background-image: linear-gradient(to top, rgba(255, 255,255,0.3), rgba(255, 255,255,0.3)),url("../images/masaaki-komori-603921-unsplash.jpg");
//     background-size: cover;
//     background-position: center;

// }

// .bg3 {
//     background-image: linear-gradient(to top, rgba(255, 255,255,0.4), rgba(255, 255,255,0.4)), url("../images/quino-al-103766-unsplash.jpg");
//     background-size: cover;
//     background-position: bottom;
// }
// .bg4 {
//     background-image: linear-gradient(to top, rgba(255, 255,255,0.3), rgba(255, 255,255,0.3)),url("../images/max-di-capua-1064162-unsplash.jpg");
//     background-size: cover;
//     background-position: bottom;
// }
// .bg5 {
//     background-image: linear-gradient(to top, rgba(255, 255,255,0.3), rgba(255, 255,255,0.3)),url("../images/cristina-gottardi-564469-unsplash.jpg");
//     background-size: cover;
//     background-position: top;
// }
// .bg6 {
//     background-image: linear-gradient(to top, rgba(255, 255,255,0.7), rgba(255, 255,255,0.7)),url("../images/jeremy-bishop-338661-unsplash.jpg");
//     background-size: cover;
//     background-position: top;
// }
// .bg7 {
//     background-image: linear-gradient(to top, rgba(255, 255,255,0.3), rgba(255, 255,255,0.3)),url("../images/igor-son-320878-unsplash.jpg");
//     background-size: cover;
//     background-position: center;
// }
// .bg8 {
//     background-image: linear-gradient(to top, rgba(255, 255,255,0.2), rgba(255, 255,255,0.5)),url("../images/elin-tabitha-1092029-unsplash.jpg");
//     background-size: cover;
//     background-position: bottom;
// }

// .bg9 {
//     background-image: linear-gradient(to top, rgba(255, 255,255,0.3), rgba(255, 255,255,0.3)),url("../images/darran-shen-589140-unsplash.jpg");
//     background-size: cover;
//     background-position: top;

// }







// "../images/kara-eads-1080482-unsplash.jpg"
// "../images/masaaki-komori-603921-unsplash.jpg"
// "../images/scott-webb-662577-unsplash.jpg"