main {
    height: 100vh;
    position: relative;
    
}

.background-image {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    // border: 5px solid blue;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    };
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 100%;
    // border: 10px solid orchid;
    background: rgba(255,255,255, 0.5);

}


.wrapper {
    position: absolute;
    z-index: 999;
    top: 0;
    width: 100vw;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    padding: 30px 30px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    // border: 1px solid black;
}

h1 {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 12rem; 
    animation-duration: 4.5s;
    animation-iteration-count:infinite;
    animation-timing-function: ease-in-out;
}

.quote-wrapper {
    text-align: center;
    height: 40vh;
    // border: 1px solid red;
    .quote-result {
        font-family: 'Courgette', cursive;
        font-size: 3rem;
        margin: 50px 0;
        font-family: 'Amiri', serif;
        line-height: 1.2;
        //  border: 1px solid orange;
        span {
            display:block;
            margin-top:2rem;
            font-size: 3rem;
            font-style: italic;
        }
    }
}

button {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    transition: 1s ease;
    // border: 1px solid green;
    &:hover {
        background: rgba(0,0,0,0.1);
        border: 1px solid rgba(0,0,0,0.1);;
    }
}


.lock {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    // border: 1px solid blue;
    a {
        color: rgba(0, 0, 0, 0.2);
        transition: .25s linear;
        margin: 5px;
        &:hover {
            color:rgba(0, 0, 0, 0.5);
        }
    }
}

.active {
    color:rgba(0, 0, 0, 0.5);
}


.pulse {
  animation-name: pulse;
}

@keyframes pulse {
// edited from animate.css
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.06, 1.06, 1.06);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}