main {
    height: 100vh;
    position: relative;
}

.background-image {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
}

.wrapper {
    width: 90vw;
    max-width: 1280px;
    height: 100%;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.content-container {
    height: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.logo {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 12rem; 
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1;
    animation-duration: 4.5s;
    animation-iteration-count:infinite;
    animation-timing-function: ease-in-out;
}
.quote-wrapper {
    font-family: 'Amiri', serif;
    text-align: center;
    padding: 0 100px;
    margin: 25px 0;
    .quote-text {
        font-size: 4rem;
        line-height: 1.4;
        .author {
            display:block;
            font-size: 2.4rem;
            font-style: italic;
            margin-top:2rem;
        }
        .instruction {
            font-family: 'East Sea Dokdo', cursive;
            font-size: 5.5rem;
            line-height: 0.75;
            font-weight: bold;
        }
    }
}
// div holding buttons
.options {
    display: flex;
    align-items: center;;
}

button, .lock {
    // font-family: 'East Sea Dokdo', cursive;
        font-family: 'Amiri', serif;

    text-align: center;
    text-transform: lowercase;
    transition: 1s ease;
    border-radius: 50px;
}
// "search" button
button {
    font-size: 2.2rem;
    width: 100px;
    height: 100px;
    margin: 0 25px;  
    background: white; 
    border: 1px solid lightgrey;
    &:hover {
        border: 1px solid rgba(0, 0, 0, 0.7);
    }
}
// lock "button" links
.lock {
    font-size: 1.8rem;
    width: 80px;
    height: 80px;  
    color: grey; 
    border: 1px solid transparent;
    background: white;
    &:hover {
        border: 1px solid rgba(0, 0, 0, 0.7);
    }
}

// icons
.fas {
    font-size: 2rem;
    margin-top: 15px;
    display: block;
}
.active-lock {
    color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.7);
}

// H1 PULSE ANIMATION
.pulse {
  animation-name: pulse;
}

@keyframes pulse {
// edited from animate.css
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.06, 1.06, 1.06);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}