/* GENERAL STYLING */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

a {
  text-decoration: none; }

img {
  width: 100%;
  max-width: 100%;
  display: block; }

/* /END GENERAL STYLING */
html {
  font-size: 62.7%; }

body, a {
  color: #232322; }

main {
  height: 100vh;
  position: relative; }

.background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0; }
  .background-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500; }

.wrapper {
  width: 90vw;
  max-width: 1280px;
  height: 100%;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.content-container {
  height: 100%;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.logo {
  font-family: 'East Sea Dokdo', cursive;
  font-size: 12rem;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1;
  -webkit-animation-duration: 4.5s;
  animation-duration: 4.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }

.quote-wrapper {
  font-family: 'Amiri', serif;
  text-align: center;
  padding: 0 100px;
  margin: 25px 0; }
  .quote-wrapper .quote-text {
    font-size: 4rem;
    line-height: 1.4; }
    .quote-wrapper .quote-text .author {
      display: block;
      font-size: 2.4rem;
      font-style: italic;
      margin-top: 2rem; }
    .quote-wrapper .quote-text .instruction {
      font-family: 'East Sea Dokdo', cursive;
      font-size: 5.5rem;
      line-height: 0.75;
      font-weight: bold; }

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

button, .lock {
  font-family: 'Amiri', serif;
  text-align: center;
  text-transform: lowercase;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
  border-radius: 50px; }

button {
  font-size: 2.2rem;
  width: 100px;
  height: 100px;
  margin: 0 25px;
  background: white;
  border: 1px solid lightgrey; }
  button:hover {
    border: 1px solid rgba(0, 0, 0, 0.7); }

.lock {
  font-size: 1.8rem;
  width: 80px;
  height: 80px;
  color: grey;
  border: 1px solid transparent;
  background: white; }
  .lock:hover {
    border: 1px solid rgba(0, 0, 0, 0.7); }

.fas {
  font-size: 2rem;
  margin-top: 15px;
  display: block; }

.active-lock {
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.7); }

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.06, 1.06, 1.06);
    transform: scale3d(1.06, 1.06, 1.06); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.06, 1.06, 1.06);
    transform: scale3d(1.06, 1.06, 1.06); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@media (max-width: 768px) {
  .quote-wrapper {
    padding: 0 50px; } }

@media (max-width: 500px) {
  .quote-wrapper .quote-text {
    font-size: 3.6rem;
    line-height: 1.2; }
    .quote-wrapper .quote-text .author {
      font-size: 2rem; } }

@media (max-width: 390px) {
  .quote-wrapper {
    padding: 0 25px; }
    .quote-wrapper .quote-text {
      font-size: 2.8rem; } }

@media (max-width: 320px) {
  button {
    font-size: 2.4rem;
    margin: 0 10px; }
  .lock {
    font-size: 2rem; } }
